---
name: CareDocs Application
on:
  push:
    branches:
      - master
jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"
      - name: Install Dependencies
        run: npm install
      - name: Install and run trivy
        run: curl -sfL
          https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh
          | sudo sh -s -- -b /usr/local/bin \ trivy --version \ trivy image
          vaibhavrawat/simple-js-app:build-${GITHUB_RUN_NUMBER}
      - name: Build Docker Image
        run: docker build -t vaibhavrawat/simple-js-app:build-${GITHUB_RUN_NUMBER} .
      - name: Push Docker Image
        run: docker push vaibhavrawat/simple-js-app:build-${GITHUB_RUN_NUMBER}
  connect-and-run:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Connect to EC2 and Install Docker, Pull & Run Container
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: >
            # Update package lists

            sudo apt update -y


            # Install Docker if not already installed

            if ! command -v docker &> /dev/null; then
                echo "Installing Docker..."
                
                # Install required dependencies
                # Add Docker's official GPG key:
                sudo apt-get update
                sudo apt-get install ca-certificates curl
                sudo install -m 0755 -d /etc/apt/keyrings
                sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
                sudo chmod a+r /etc/apt/keyrings/docker.asc

                # Add the repository to Apt sources:
              echo \
                "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
                $(. /etc/os-release && echo "${UBUNTU_CODENAME:-$VERSION_CODENAME}") stable" | \
                sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
              sudo apt-get update

              sudo apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
            else
                echo "Docker is already installed."
            fi

              sudo chmod 666 /var/run/docker.sock
            # Log in to Docker Hub

            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin


            # Stop and remove any existing container (if running)

            docker stop simple-js-app || true

            docker rm simple-js-app || true


            # Pull the latest Docker image

            docker pull vaibhavrawat/simple-js-app


            # Run the container (modify ports and env vars if needed)

            docker run -d --name simple-js-app -p 3000:3000 vaibhavrawat/simple-js-app
